/*aqui voce pode estilizar todo o home*/

/*
classes: 
home
call
book
destaque
sale
oferta
timer
*/

.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10vmin;
}

.call{
    color: #F3E3C1;
    font-weight: 400;

}
.call p{
    font-size: 4vmin;
}
.call h1{
    font-size: 8vmin;
    line-height: 10vmin;
    font-weight: 400;
}
.destaque{
    color: #E8A04C;
    font-weight: 600;
}

button{
    background-color: #EE3C3C;
    width: 34vmin;
    height: 9vmin;
    border-radius: 25px;
    font-family: "Lexend Deca", serif;
    color: #F4E9E9;
    cursor: pointer;
    font-size: 3vmin;
    font-weight: 600;
    border: none;
    margin-top: 5vmin;
}
button:hover{
    background-color: #8D1717;
}

.sale{
    margin-left: 5vmin;
    color: #F3E3C1;
    font-size: 4vmin;
    font-weight: 200;
    text-align: center;
}

.oferta{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EE3C3C;
    font-size: 6vmin;
    font-weight: 600;
}

.smaller{ /*tag nova*/
    font-size: 2vmin;
    
}

.autora{
    text-align: right;
    margin-right: 8vmin;
}

.book{
    margin-left: 3vmin;
    width: auto;
    height: 70vmin;
    transform: rotate(-10deg)
}

@media (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .call p {
        font-size: 5vmin;
    }
    .call h1 {
        font-size: 9vmin;
        line-height: 11vmin;
    }
    button {
        width: 40vmin;
        height: 10vmin;
        font-size: 4vmin;
    }
    .sale {
        font-size: 5vmin;
        margin-top: 10vmin;
    }
    .oferta {
        font-size: 7vmin;
    }
    .book {
        width: 20vmin;
        height: auto;
        margin-top: 10vmin;
        
    }
}

@media (max-width: 480px) {
    .call p {
        font-size: 6vmin;
    }
    .call h1 {
        font-size: 10vmin;
        line-height: 12vmin;
    }
    button {
        width: 45vmin;
        height: 12vmin;
        font-size: 4.5vmin;
    }
    .sale {
        font-size: 6vmin;
        margin-top: 10vmin;
    }
    .oferta {
        font-size: 8vmin;
    }
    .book {
        width: 45vmin;
        height: auto;
        margin-top: 10vmin;
    }
}