/*aqui voce pode estilizar todo o depoimentos*/

/*
classes:
depoimentos
h1
div
*/


.tit h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.depoimentos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0; /* Espaçamento vertical */
}


@media (max-width: 480px) {
    .tit{
        margin-top: -100%;
        text-align: center;
    }

    .tit h1 {
        font-size: 6vmin;
    }

    .depoimentos {
        gap: 10px;
        padding: 10px 0;
    }
}